@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .ImgDeFundo{
        background-image: url("ImgCapaResort.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}